@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.ispecionar {
  border: 5px solid red;
}
#header {
  padding: 2rem 6rem;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.nav-links a {
  color: #ffffff;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}
.nav-links a:hover,
nav-links a:focus {
  color: #d5d5d5;
}
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2rem;
  background-color: #d5d5d5;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.nav-links a:hover:after {
  width: 100%;
}
