@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.ispecionar {
  border: 5px solid red;
}

#header {
  padding: 2rem 6rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
}
